@use "../../styles/palette" as *;

.searchInputDiv {
  display: flex;
  align-items: center;
  flex-grow: 1;

  & .searchInput {
    overflow: hidden;
    font-size: 14px;
    margin-left: 1rem;
    background-color: $tertiary-8;
    height: 50px;
    font-weight: 400;
    border-radius: 10px;
    padding: 0 15px;
  }

  & .searchInputButton {
    padding: 10px;
    background-color: $tertiary-8;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
  }
}
