@import "../../../../../../styles/theme/light-v2";

.subtitle {
  font-size: 0.8rem;
  font-weight: 400;
  color: $sec-text-500;
}

.submitButton {
  font-size: 12px;
  font-weight: 700;
}
