.btn__navigation {
  position: relative;
  border-radius: 5px;
  aspect-ratio: 1;
  display: flex;
  cursor: pointer;
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 700;

  & p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mulish";
    font-weight: 700;
    color: $tertiary-2;
  }

  & .navigation__flag {
    fill: $quaternary-2;
    position: absolute;
    top: -4px;
    right: 1px;
    width: 8.5px;
  }
}

.btn__active {
  border: 1.7px solid $primary-8;
  background-image: linear-gradient(
    90deg,
    $primary-3,
    $primary-3 25%,
    transparent 25%,
    transparent 100%
  );
  background-image: -webkit-linear-gradient(
    90deg,
    $primary-3,
    $primary-3 25%,
    transparent 25%,
    transparent 100%
  );

  & p {
    align-items: flex-start;
    padding-top: 25%;
  }
}

.btn__active__false {
  border: 1.7px solid $quaternary-1;
  background-image: linear-gradient(
    90deg,
    $quaternary-1,
    $quaternary-1 25%,
    transparent 25%,
    transparent 100%
  );
  background-image: -webkit-linear-gradient(
    90deg,
    $quaternary-1,
    $quaternary-1 25%,
    transparent 25%,
    transparent 100%
  );

  & p {
    align-items: flex-start;
    padding-top: 25%;
  }
}

.btn__answered {
  border: 1.7px solid $primary-8;
  background-color: $primary-3;

  & p {
    color: $tertiary-10;
  }
}

.btn__answered__false {
  border: 1.7px solid $quaternary-1;
  background-color: $quaternary-1;

  & p {
    color: $tertiary-10;
  }

  & .navigation__flag {
    fill: $tertiary-10;
  }
}
