@import "../../styles/theme/light-v2";

.container {
  color: #adadad;

  & .textContent {
    color: #475467;
    font-weight: 700;
  }

  & .btnSeeMore {
    cursor: pointer;

    width: fit-content;
    margin-left: 10px;

    font-weight: 700;
    color: $brand-500;
  }
}
