.cardProduct {
  width: 100%;

  padding: 4px 10px;
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 8px;

  & img {
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
  }

  & p {
    line-height: 18px;
    color: #888888;
    font-size: 0.8rem;
    font-weight: 600;
  }
}

.activeCardProduct {
  background-color: #fff;
}
