.dialogPaper {
  overflow-y: unset;

  .dialogTitle {
    font-size: 20px;
    font-weight: 700;
  }

  .dialogSubTitle {
    color: #adadad;
    font-size: 14px;
    font-weight: 600;
  }
}
