@import "../../../../../styles/theme/light-v2";

.borderContainer {
  border-width: 1px;
  border-color: $grey-200 !important;
  border-style: solid;
  border-radius: 8px;
}

.containerChildrenEvent {
  background-color: $text-0;
  padding-bottom: 20px;

  & .cardContainer {
    @extend .borderContainer;

    display: flex;
    flex-direction: row;
    background-color: $text-0;
    gap: 0.3rem;
    align-items: center;

    & .card {
      cursor: pointer;

      & img {
        width: 100%;
        max-height: 120px;
        background-size: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      & .cardTextContainer {
        padding: 1rem;

        & h5 {
          font-size: 12px;
          font-weight: 500;
          color: $text-300;
        }

        & h3 {
          font-size: 14px;
          font-weight: 700;
          color: $text-500;
          margin-bottom: 0.3rem;
        }
      }
    }
  }
}
