@use "../../../styles/breakpoints";
@import "../../../styles/palette";

.modal {
  @include breakpoints.media(xs) {
    width: 360px;
  }
  @include breakpoints.media(md) {
    width: 515px;
  }

  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $tertiary-10;
  border-radius: 10px;
  padding: 1.5em 1.5em;

  & .modalTitle {
    font-size: 20px;
    font-weight: 700;
    color: $tertiary-14;
    margin-bottom: 1rem;
  }

  & .content {
    margin: 1rem 0;

    & h5 {
      font-size: 1rem;
      font-weight: 600;
      color: $tertiary-2;
      margin-bottom: 0.5rem;
    }

    & h6 {
      font-size: 0.9rem;
      font-weight: 400;
      color: $tertiary-22;
      margin-bottom: 1rem;
    }
  }

  & .btnGroup {
    & button {
      font-family: "Poppins";
      font-size: 0.625rem;
      font-weight: 700;
    }

    & button:disabled {
      background-color: $tertiary-6;
    }

    & .btnSubmit {
      background-color: $primary-8;
      color: $tertiary-10;
      margin-bottom: 0.3rem;
    }

    & .btnCancel {
      color: $primary-8;
    }
  }
}

.modal:focus {
  outline: none !important;
}
