$primary-1: #2d2c2c;
$primary-2: #424141;
$primary-3: #686f7a;
$primary-4: #6c6b6b;
$primary-5: #ababab;
$primary-6: #d5d5d5;
$primary-7: #f5f5fb;
$primary-8: #f5f5fb;
$primary-9: #f5f5fb;

$secondary-1: #85dff3;
$secondary-2: #5fd6fb;
$secondary-3: #2fccff;
$secondary-4: #00c0ff;
$secondary-5: #00a4ff;
$secondary-6: #2a54c1;
$secondary-7: #0066ff;

$tertiary-1: #2d2c2c;
$tertiary-2: #424141;
$tertiary-3: #686f7a;
$tertiary-4: #6c6b6b;
$tertiary-5: #ababab;
$tertiary-6: #d5d5d5;
$tertiary-7: #f5f5fb;
$tertiary-8: #f3f4f5;
$tertiary-9: #f0f0f0;
$tertiary-10: #ffffff;
$tertiary-11: #575757;
$tertiary-12: #f4f4f4;
$tertiary-13: #757575;
$tertiary-14: #333333;
$tertiary-15: #707070;
$tertiary-16: #959595;
$tertiary-17: #e9f1ff;
$tertiary-18: #7b7b7b;
$tertiary-19: #f9f9f9;
$tertiary-20: #e0e0e0;
$tertiary-21: #101828;
$tertiary-22: #475467;

$quaternary-1: #e03b3b;
$quaternary-2: #f94242;
$quaternary-3: #fb8e8e;
$quaternary-4: #db4221;

$quinary-1: #17b055;
$quinary-2: #47d07e;
$quinary-3: #a3e7bf;
$quinary-4: #21db3f;

$senary-1: #dc6803;
$senary-2: #f79009;
$senary-3: #fdb022;
$senary-4: #fec84b;
$senary-5: #fedf89;
$senary-6: #fef0c7;
$senary-7: #fffaeb;
$senary-8: #ffc50a;
