$grey-0: #f7f9fc;
$grey-50: #e9edf5;
$grey-100: #d5dbe5;
$grey-200: #bcc2ce;
$grey-300: #a1a9b8;
$grey-400: #868fa0;
$grey-500: #687182;
$grey-600: #5a6376;
$grey-700: #464f60;
$grey-800: #333b4a;
$grey-900: #171c26;

$brand-0: #e6ddff;
$brand-50: #bfaaf8;
$brand-100: #b298f7;
$brand-200: #a587f5;
$brand-300: #9876f4;
$brand-400: #8b65f2;
$brand-500: #7e54f1;
$brand-600: #714cd9;
$brand-700: #6543c1;
$brand-800: #583ba9;
$brand-900: #4c3291;

$sec-brand-0: #e7baf7;
$sec-brand-50: #dfa3f5;
$sec-brand-100: #d78cf2;
$sec-brand-200: #cf75f0;
$sec-brand-300: #c75eed;
$sec-brand-400: #bf47eb;
$sec-brand-500: #bc3ce9;
$sec-brand-600: #b730e8;
$sec-brand-700: #af19e6;
$sec-brand-800: #9e17cf;
$sec-brand-900: #8c14b8;

$cyan-0: #ecfeff;
$cyan-50: #cffafe;
$cyan-100: #a5f3fc;
$cyan-200: #67e8f9;
$cyan-300: #22d3ee;
$cyan-400: #164e63;
$cyan-500: #155e75;
$cyan-600: #0e7490;
$cyan-700: #0891b2;
$cyan-800: #083344;
$cyan-900: #083344;

$info-0: #eff6ff;
$info-50: #dbeafe;
$info-100: #bfdbfe;
$info-200: #93c5fd;
$info-300: #60a5fa;
$info-400: #3b82f6;
$info-500: #2563eb;
$info-600: #1e40af;
$info-700: #1e3a8a;
$info-800: #1d4ed8;
$info-900: #172554;

$error-0: #fef2f2;
$error-50: #fee2e2;
$error-100: #fecaca;
$error-200: #fca5a5;
$error-300: #f87171;
$error-400: #ef4444;
$error-500: #dc2626;
$error-600: #b91c1c;
$error-700: #991b1b;
$error-800: #7f1d1d;
$error-900: #450a0a;

$warning-0: #fff7ed;
$warning-50: #ffedd5;
$warning-100: #fed7aa;
$warning-200: #fdba74;
$warning-300: #fb923c;
$warning-400: #f97316;
$warning-500: #ea580c;
$warning-600: #c2410c;
$warning-700: #9a3412;
$warning-800: #7c2d12;
$warning-900: #431407;

$success-0: #f0fdf4;
$success-50: #dcfce7;
$success-100: #bbf7d0;
$success-200: #86efac;
$success-300: #4ade80;
$success-400: #22c55e;
$success-500: #16a34a;
$success-600: #166534;
$success-700: #15803d;
$success-800: #14532d;
$success-900: #052e16;

$text-0: #ffffff;
$text-50: #ebebeb;
$text-100: #d6d6d6;
$text-200: #adadad;
$text-300: #858585;
$text-400: #5c5c5c;
$text-500: #333333;
$text-600: #292929;
$text-700: #1f1f1f;
$text-800: #141414;
$text-900: #0a0a0a;

$sec-text-0: #ffffff;
$sec-text-50: #edeef0;
$sec-text-100: #dadde1;
$sec-text-200: #b5bbc2;
$sec-text-300: #9198a4;
$sec-text-400: #6c7685;
$sec-text-500: #475467;
$sec-text-600: #394352;
$sec-text-700: #2b323e;
$sec-text-800: #1c2229;
$sec-text-900: #0e1115;
